<footer>
    <h2>&copy; 2023 Nomad Nest</h2>
    <nav>
        <ul>
            <li><a href="/destinations">Destinations</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/reviews">Reviews</a></li>
            <li><a href="/destinations/new">New</a></li>
        </ul>
    </nav>
</footer>
