<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `About Nomad Nest`}) %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero about">
            <h2>About Us</h2>
            <h4><i>Helping you find your home away from home</i></h4>
        </section>

        <section class="content">
            <h2>Our Mission</h2>
            <p>Living life as a digital nomad sounds tempting to most people — and with good reason. People who are travel enthusiasts and who often feel suffocated by a regular, 9-to-5 job find the life of a digital nomad liberating and exciting. In many cases, it’s exactly these feelings that are responsible for making such a life-changing decision. There are numerous benefits to being a digital nomad. </p>
            <p>The first and most important benefit is the ability to travel all the time, enabling you to work anytime and anywhere. One word to describe it adequately is <i>freedom</i>. What’s more, being a digital nomad gives you plenty of opportunities to grow both personally and professionally.</p>
            <p>We are here to help you reach your digital nomad dream! Select a destination and we'll assist you with the rest. All you have to do is pack your suitcase, laptop and get ready to buckle up!</p>
            <h2>Benefits of Being a Digital Nomad</h2>
            <ul>
                <li>Traveling All the Time</li>
                <li>Working Anytime and Anywhere
                </li>
                <li>Exploring New Cultures
                </li>
                <li>Meeting New People
                </li>
                <li>No Tedious Commutes to Work</li>
                <li>Lower Cost of Living</li>
                <li>Pursuing New Hobbies and Interests</li>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
