div {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 4vh auto;
    box-shadow: 2px 2px 5px #ccc;
}

img {
    width: 80%;
    min-width: 300px;
    height: 30%;
    min-height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.destination-name {
    font-size: 32px;
    margin-bottom: 10px;
}

section {
    text-align: left;
    margin: 0 10%;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

.featured {
    background-color: #ffd700;
}

/* Style Action Buttons */
.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 15%;
    margin-right: 15%;
}

.btn a {
    color: #fff;
    text-decoration: none;
}

.listings {
    text-align: center;
    margin: 40px;
    
}

.info {
    margin-top: 5rem;
}

