.review {
    margin: 2rem auto;
    height: 80vh;
    min-height: 300px;
    width: 60vw;
    min-width: 550px;
    border: 2px solid #ccc;
    padding: 40px;
    overflow-y: scroll;
    
    
}

.review h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-family:  'Cabin', sans-serif;
    font-size: 32px;
}

table {
    background-color: #e8f1f2;
    width: 100%;
    height: 80%;
    border-radius: 1rem;
}

th {
    width: 45%;
    text-align: left;
    padding-left: 20%;
    
}

th h2 {
    font-size: 24px;
}

td {
    padding-left: 1rem;
    padding-right: 1rem;
}

td h2 {
    font-weight: 100;
    font-size: 24px;
}

form {
    margin-top: 1.5rem;
    text-align: center;
}

